nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 1.5em;
  color: #FFFFFF;
  text-shadow: 2px 2px 3px rgb(74, 74, 74);
}

nav > span {
  display: inline-flex;
  align-items: center;
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
}

nav button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  color: #FFFFFF;
  border: none;
  text-shadow: 2px 2px 3px rgb(74, 74, 74);
}

nav > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.bounce {
  animation: bounce 3s infinite;
  color: orange;
  text-shadow: 5px 5px 5px #4056A1;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}