form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0 30px 0;
}

textarea {
  height: 70%;
  line-height: 70%;
  border: 0;
  border-bottom: 3px solid #555149;
  background: transparent;
}

input[type=submit] {
  background: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
}

form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30%;
  margin: 10px 0 0 0;
  font-size: 0.8em;
}

.counter {
  font-family: 'Bungee', cursive;
  color: #555149;
}

.counter.tooManyCharacters {
  color: red;
}

